li {
  list-style-type: none;
}

body {
  background-color: beige;
}

h2 {
  text-align: center;
}

.title {
  border-width: medium;
  height: 100px;
  padding: inherit;
  background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSfgzQbCpUKdBVDxWAAoK84KZXISSOP1NMh3NR6HSclqF5-Itqa);
  background-size: 150%;
  border-radius: 15px 15px 5px 5px;
  text-indent: 55px;
  color: white;
  font-family: 'Meddon', cursive;
}

.menu {
  border-width: thin;
  margin: 30px;
  font-family: 'Salsa', cursive;
  background-color: #b8d3f2;
  z-index: 1;
}

.game {
  font-family: 'Sniglet', cursive;
}
